@{
    ViewData["Title"] = "Players";
}

<h2>@ViewData["Title"]</h2>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>


<div class="row">
    <table>
        <tr>
            <th>Party</th>
            <th>Player Name</th>
            <th>Ip Address</th>
            <th>Tag</th>
            <th>Action</th>
        </tr>

    </table>
</div>

